.main-nav {
  position: relative;

  $block-name:                &; // #{$block-name}__element

  position: relative;
  box-shadow: $shadow;

  @media (max-width: $menu-desktop-width - 1) {
    display: none;
  }

  // первый уровень
  &__list {
    display: flex;
    height: 60px;
  }

  &__sublist-wrapper {
    display: none !important;
    position: absolute;
    top: 60px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 45px;
    background-color: $main-color;
    box-shadow: $shadow;
  }

  &__sublist {
    display: flex;
    height: 100%;
    color: $white;
    overflow: hidden;

    #{$block-name}__link {
      font-size: 14px;

      &:hover,
      &:focus {
        background-color: $color-success;
      }
    }

    #{$block-name}__item.active {

      #{$block-name}__link {
        background-color: $color-success;
      }
    }
  }

  &__item {
    display: inline-flex;
    height: 100%;

    &.active {

      & > #{$block-name}__sublist-wrapper {
        display: block !important;
      }

      & > #{$block-name}__link {
        color: $white;
        background-color: $main-color;
      }
    }
  }

  &__link {
    display: inline-flex;
    align-items: center;
    height: 100%;
    padding: 5px 12px;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: inherit;

    @media (min-width: $screen-xxl) {
      font-size: 20px;
    }

    &:hover,
    &:focus {
      text-decoration: none;
      color: $white;
      background-color: $link-color;
    }

    &--arrow {
      position: relative;
      padding-right: 32px;

      &::after {
        display: block;
        content: "";
        position: absolute;
        top: 50%;
        right: 12px;
        transform: translateY(-50%);
        border-top: 0.34em solid;
        border-right: 0.3em solid transparent;
        border-bottom: 0;
        border-left: 0.3em solid transparent;
      }
    }
  }

  &--bot-margin {
    margin-bottom: 45px;
  }
}
