.page-404 {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
  color: $white;
  background-color: $main-color;

  @media (min-width: $screen-lg) {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  $block-name:                &; // #{$block-name}__element

  &__text-col {
    @include col(xs, 12);
    @include col-offset(md, 2);
    @include col(md, 8);
    @include col-offset(lg, 1);
    @include col(lg, 5);

    @media (max-width: $screen-lg - 1) {
      margin-bottom: 32px;
    }

    @media (min-width: $screen-lg) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
    }

    .btn {
      min-width: 180px;
    }
  }

  &__img-col {
    @include col(xs, 12);
    @include col-offset(md, 3);
    @include col(md, 6);
    @include col-offset(lg, 0);
    @include col(lg, 5);

    img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      max-width: 318px;

      @media (min-width: $screen-lg) {
        max-width: 440px;
      }

      @media (min-width: $screen-xl) {
        max-width: 565px;
      }
    }
  }

  &__title {
    width: 100%;
    font-size: 64px;
  }

  &__descr {
    width: 100%;
    margin-top: 12px;
    margin-bottom: 32px;
  }
}
