.biz-service-card {
  height: 100%;
  padding: 16px;
  background-color: $white;
  border-bottom: 1px solid $border-color;

  @media (min-width: $screen-md) {
    display: flex;
    align-items: center;
    border: 1px solid $border-color;
    border-radius: $border-radius;
  }

  // @media (min-width: $screen-xl) {
  //   padding: 24px;
  // }

  // @media (min-width: $screen-xxl) {
  //   padding: 16px;
  // }

  $block-name:                &; // #{$block-name}__element

  &__wrapper {
    margin-bottom: 48px;

    @media (min-width: $screen-xl) {
      margin-bottom: 32px;
    }
  }

  &__section-title {
    margin-bottom: 24px;

    @media (min-width: $screen-xl) {
      margin-bottom: 32px;
    }
  }

  &__item {
    @include col(md, 12);
    @include col(xl, 6);
    @include col(xxl, 4);

    @media (min-width: $screen-md) {
      margin-bottom: 16px;
    }

    @media (min-width: $screen-xl) {
      margin-bottom: 32px;
    }
  }

  &__img {
    width: 92px;
    margin: 0 auto 12px;

    @media (min-width: $screen-md) {
      flex: 0 0;
      flex-basis: 92px;
      margin: 0 16px 0 0;
    }

    // @media (min-width: $screen-xl) {
    //   flex-basis: 128px;
    //   max-width: 128px;
    //   margin-right: 24px;
    // }

    // @media (min-width: $screen-xxl) {
    //   flex-basis: 92px;
    //   max-width: 92px;
    // }

    img {
      object-fit: cover;
      object-position: center;
    }
  }

  &__text {
    text-align: center;

    @media (min-width: $screen-md) {
      flex: 1 1;
      flex-basis: auto;
      text-align: initial;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 6px;
  }

  &__descr {
    font-size: 14px;
    margin-top: 6px;
    margin-bottom: 0;
  }

  &__more {
    margin-top: 6px;

    button {
      display: inline-block;
      vertical-align: baseline;
      padding: 2px;
      font-size: $font-size-sm;
      font-weight: 500;
      background-color: transparent;
      border: none;
      cursor: pointer;
      user-select: none;

      &:hover,
      &:focus {
        color: $main-color;
      }
    }

    &.hidden {
      display: none;
    }
  }
}
