.support-program {

  $block-name:                &; // #{$block-name}__element

  &__accordion {
    margin: 0 !important;

    & > h1:first-child,
    & > h2:first-child,
    & > h3:first-child,
    & > h4:first-child {
      margin-top: 0;
    }
  }
}
