$line-height:                 1.375em !default;
$text-color:                  hsl(0, 0%, 10%) !default;

.breadcrumbs {
  padding-top: 16px;
  padding-bottom: 8px;
  background-color: $white;
  border-bottom: 1px solid $border-color;

  @media (min-width: $screen-md) {
    padding-bottom: 16px;
  }

  @media (min-width: $screen-xl) {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  $block-name:                &;  // #{$block-name}__element

  &__list {
    display: flex;
    align-items: center;
    padding: 0;
    list-style: none;
    margin: 0;
  }


  &__item {
    display: inline-block;
    vertical-align: baseline;
    max-width: 100%;
    margin-right: 8px;
    margin-bottom: 0.5em;
    overflow: hidden;
    text-overflow: ellipsis;

    @media (min-width: $screen-md) {
      margin-bottom: 0;
    }

    &:not(:last-child)::after {
      content: "";
      display: inline-block;
      width: 5px;
      height: 8px;
      margin-left: 10px;
      background-size: 5px 8px;
      background-position: center;
      background-image: svg-load('../blocks/sprite-svg/svg/carret-right.svg', fill=$text-color);
      transform: translateY(-1px);
    }
  }

  &__link {
    max-width: 100%;
    font-size: 14px;
    font-weight: 400;
    color: inherit;
    text-decoration: none !important;
    white-space: nowrap;

    @media (min-width: $screen-xl) {
      font-size: 16px;
    }

    &:hover,
    &:focus {
      color: $main-color;
      //text-decoration: none;
    }

    &--current {
      color: $text-muted !important;
    }
  }
}
