.page-header {
  position: relative;
  z-index: 1;

  $block-name:                &; // #{$block-name}__element

  &__main {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    color: $white;
    background-color: $main-color;

    @media (min-width: $screen-md) {
      height: 64px;
    }

    @media (min-width: $screen-xl) {
      height: 84px;
    }

    @media (min-width: $screen-xxl) {
      height: 98px;
    }
  }

  &__left {
    display: flex;
    align-items: center;
    height: 100%;

    .logo {
      height: 100%;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;

    .lang-switcher {
      height: 100%;

      @media (max-width: $screen-xl - 1) {
        display: none;
      }
    }

    & > * + * {

      @media (min-width: $screen-xl) {
        margin-left: 8px;
      }

      @media (min-width: $screen-xxl) {
        margin-left: 16px;
      }
    }
  }

  &__phones {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 12px;

    @media (max-width: $screen-md - 1) {
      display: none;
    }

    @media (min-width: $screen-xl) {
      margin-left: 30px;
    }
  }

  &__phone-item,
  &__phone-link {
    display: inline-flex;
    align-items: center;
    height: 100%;
  }

  &__phone-item {

    &:first-child {
      margin-right: 7px;

      @media (min-width: $screen-lg) {
        margin-right: 0;
      }

      &::after {
        display: block;
        content: "";
        width: 2px;
        height: 24px;
        margin-left: 7px;
        background-color: $white;

        @media (min-width: $screen-lg) {
          margin-left: 0;
        }
      }
    }

    &--queue {

      @media (max-width: $screen-xl - 1) {
        display: none;
      }
    }
  }

  &__phone-link {
    padding: 0 9px;
    font-weight: 500;
    color: $white !important;

    &:hover,
    &:focus {
      text-decoration: none;

      @media (min-width: $screen-lg) {
        background-color: $color-success;
      }
    }

    @media (min-width: $screen-lg) {
      padding: 0 16px;
    }

    @media (min-width: $screen-xxl) {
      font-size: 20px;
    }
  }

  &__queue {
    display: inline-flex;
    align-items: center;
    margin-left: 8px;
    font-weight: 500;
    color: $main-color;

    @media (min-width: $screen-xl) {
      margin-left: 0;
    }

    @media (min-width: $screen-xxl) {
      font-size: 20px;
    }
  }

  &__queue-num,
  &__queue-text {
    padding: 2px 9px;
    background-color: $white;

    @media (min-width: $screen-xxl) {
      line-height: 1.1;
    }
  }

  &__queue-num {
    position: relative;
    z-index: 1;
    min-width: 26px;
    height: 30px;
    border: 2px solid $main-color;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
  }

  &__queue-text {
    height: 26px;
    padding-left: 16px;
    margin-left: -8px;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }

  &__btn {
    display: inline-flex;
    align-items: center;
    height: 100%;
    padding: 0 9px;
    color: inherit !important;
    background-color: $main-color;
    border: none;
    cursor: pointer;
    user-select: none;
    text-decoration: none !important;

    &:hover,
    &:focus {
      background-color: $color-success;
    }

    &[aria-expanded=true] {
      background-color: $color-success;
    }

    @media (min-width: $screen-lg) {
      padding-left: 12px;
      padding-right: 12px;
    }

    &--cart {

      &[aria-expanded=true] {
        position: relative;

        &::before {
          display: block;
          content: "";
          position: absolute;
          z-index: 1;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%) translateY(10px) rotate(45deg);
          width: 20px;
          height: 20px;
          background: linear-gradient(135deg, transparent, transparent 50%, $color-success 50%, $color-success);
        }
      }
    }
  }

  &__btn-text {
    margin-left: 8px;
    font-weight: 500;

    @media (max-width: $screen-xxl - 1) {
      display: none;
    }

    @media (min-width: $screen-xxl) {
      font-size: 20px;
    }
  }

  &__mini-cart {
    position: relative;
    height: 100%;
  }
}
