.page-header {

  $block-name:                &; // #{$block-name}__element

  &__main {
    color: $white;
    background-color: $main-color;
  }

  &__phones {
    display: inline-flex;
    algn-items: center;

    @media (max-width: $screen-md - 1) {
      display: none;
    }
  }
}
