.btn {

  $block-name:                &; // #{$block-name}__element

  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: $field-padding-vertical  $field-padding-horizontal;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  line-height: $line-height;
  text-decoration: none !important;
  text-transform: none;
  text-align: initial;
  white-space: nowrap;
  border-radius: $border-radius;
  border: none;
  color: $white;
  background-color: $main-color;
  background-image: none;
  user-select: none;
  cursor: pointer;
  transition: all $transition-time ease-out;

  &:hover,
  &:focus {
    color: $white;
    background-color: $color-success;
    // border-color: darken($gray-lighter, 12%);
  }

  &:active,
  &:focus {
    box-shadow: 0 0 0 4px rgba($main-color, 0.4);
  }

  &--disabled,
  &:disabled {
    // opacity: $opacity;
    cursor: not-allowed;
    color: $text-muted !important;
    background-color: $border-color !important;
    //border-color: $gray-lighter;

    @at-root a.btn--disabled {
      pointer-events: none;
    }
  }

  &--icon {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;

    span {
      margin-right: 32px;
    }

    svg {
      transform: rotate(-90deg);
    }
  }

  &--norotate {

    svg {
      transform: none;
    }
  }

  &--black {
    background-color: $text-color;

    &:hover,
    &:focus {
      color: $main-color;
      background-color: $text-color;
    }

    &:active,
    &:focus {
      box-shadow: 0 0 0 4px rgba($black, 0.25);
    }
  }

  &--white {
    color: $text-color;
    background-color: $white;

    &:hover,
    &:focus {
      color: $main-color;
      background-color: inherit;
    }
  }

  &--filter {
    padding: 4px 8px;
    font-size: 14px;
    font-weight: 400;
    color: $text-color;
    background-color: transparent;

    &:hover,
    &:focus {
      color: $color-success;
      background-color: transparent;

      span {
        color: inherit;
      }
    }

    &.is-checked {
      color: $white;
      background-color: $main-color;
      box-shadow: none;
      pointer-events: none;

      span {
        color: inherit;
      }
    }

    span {
      font-weight: 500;
      color: $text-muted;
      transition: all $transition-time ease-out;
      pointer-events: none;
    }
  }

  &--textless {
    padding: 11px 10px;
  }
}
