.megogo-select {
  padding: 12px;
  font-size: 14px;
  font-weight: 500;
  border-bottom: 1px solid $border-color;

  $block-name:                &; // #{$block-name}__element

  .field-select {
    //display: none;
    margin-bottom: 0;
    margin-top: 12px;
  }

  &__switcher {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__name {
    text-transform: uppercase;
  }
}
