@keyframes pulse {
  0% {
    transform: scale3d(0,0,0);
    opacity: 0;
  }
  25% {
    transform: scale3d(0.1,0.1,0.1);
    opacity: 0.1;
  }
  50% {
    transform: scale3d(0.3,0.3,0.3);
    opacity: 0.3;
  }
  75% {
    transform: scale3d(0.5,0.5,0.5);
    opacity: 0.5;
  }
  100% {
    transform: scale3d(1,1,1);
    opacity: 0;
  }
}

.contact-widget {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  pointer-events: auto;

  $block-name:                &; // #{$block-name}__element

  &__wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
  }

  &__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 48px;
    height: 48px;
    padding: 0;
    color: $white;
    background-color: $secondary-color;
    border: none;
    border-radius: $border-radius;
    cursor: pointer;

    @media (min-width: $screen-xl) {
      width: 64px;
      height: 64px;
    }

    &:hover,
    &:focus {
      color: $main-color;
    }

    img {
      display: block;
      width: 25px;
      height: 25px;

      @media (min-width: $screen-xl) {
        width: 30px;
        height: 30px;
      }
    }

    &::after {
      display: block;
      content: "";
      position: absolute;
      top: -50%;
      left: -50%;
      //transform: translate(-50%, -50%);
      z-index: -1;
      width: 200%;
      height: 200%;
      border: 24px solid $main-color;
      border-radius: $border-radius * 2;
      will-change: transform;
      animation: pulse 4s ease-in-out;
      animation-iteration-count: infinite;
    }
  }

  &__content {
    //display: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 48px;

    @media (min-width: $screen-xl) {
      top: 65px;
    }

    // div + div {
    //   margin-top: 24px;
    // }
  }

  &__link {
    flex: 0 0;
    flex-basis: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    margin-top: 24px;
    //color: $white;
    //background-color: $white;
    //border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px;
    filter: drop-shadow(0 0 12px rgba($black, 0.25));

    &:hover,
    &:focus {
      filter: drop-shadow(0 0 12px rgba($black, 0.6));
    }

    &--tg {
      background-image: svg-load('../blocks/contact-widget/bg-img/telegram-fill.svg');
    }

    &--vib {
      background-size: 31px 32px;
      background-image: svg-load('../blocks/contact-widget/bg-img/viber-fill.svg');
    }

    &--mes {
      background-image: svg-load('../blocks/contact-widget/bg-img/messenger-fill.svg');
    }

    &--whapp {
      background-image: svg-load('../blocks/contact-widget/bg-img/whatsapp-fill.svg');
    }
  }
}
