.home-rates-card {
  min-width: 290px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: $white;
  border-radius: $border-radius;
  border: 1px solid $border-color;
  overflow: hidden;
  perspective: 2000px;

  &:hover {
    box-shadow: $shadow;
  }

  $block-name:                &; // #{$block-name}__element

  &.carousel-cell {
    width: 288px;
    margin-right: 12px;

    @media (min-width: $screen-md) {
      margin-right: 16px;
    }

    @media (min-width: $screen-xl) {
      width: calc(25% - 12px);
    }

    @media (min-width: $screen-xxl) {
      width: calc(25% - 24px);
      margin-right: 32px;
    }
  }

  &.carousel-cell.is-selected {
    box-shadow: $shadow;
  }

  &__wrapper {
    padding-top: 32px;
    //padding-bottom: 48px;

    @media (min-width: $screen-md) {
      padding-top: 48px;
      //padding-bottom: 0;
    }

    &--middle {
      margin-bottom: 48px;
      border-top: 1px solid $border-color;

      @media (min-width: $screen-md) {
        margin-bottom: 64px;
      }
    }

    &--aside {
      padding-top: 48px !important;
      padding-bottom: 0 !important;
      margin-top: 32px;
      margin-bottom: 64px;
      border-top: 1px solid $border-color;

      @media (min-width: $screen-xl) {
        padding-top: 64px !important;
        margin-top: 48px;
        margin-bottom: 92px;
      }

      &--house {
        padding-top: 0 !important;

        @media (min-width: $screen-xl) {
          padding-top: 0 !important;
        }
      }
    }
  }

  &__section-intro {
    margin-bottom: 14px;

    @media (min-width: $screen-md) {
      margin-bottom: 22px;
    }
  }

  &__section-title {
    margin-top: 0;
  }

  &__section-descr {
    margin-top: 0;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 16px;
    height: 50px;
    color: $white;
    background-color: $secondary-color;

    @media (min-width: $screen-xxl) {
      height: 58px;
      padding: 10px 24px;
    }
  }

  &__title {
    margin: 0;
    color: inherit;
  }

  &__tag {
    min-width: 36px;
    height: 36px;
    padding: 4px 12px;
    font-size: 20px;
    font-weight: 500;
    color: inherit;
    border-radius: $border-radius;

    &--sp-offer {
      display: block;
      background-color: $color-warning;
    }

    &--star {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 36px;
      padding: 0;
      background-color: #ffb800;
      // background-repeat: no-repeat;
      // background-position: center;
      // background-image: svg-load('../blocks/sprite-svg/svg/star.svg', fill=$white);
    }

    &:empty {
      display: none;
    }
  }

  &__inner {
    position: relative;

    will-change: transform;
    transition: transform 0.5s ease-in-out;
    transform-style: preserve-3d;

    &--backface {
      transform: rotateY(180deg);
    }
  }

  &__face {
    position: relative;
    z-index: 0;
    height: 100%;
    background-color: $white;
    backface-visibility: hidden;

    &--back {
      display: flex;
      flex-direction: column;
      position: absolute;
      z-index: 1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      transform: rotateY(180deg);
      overflow: hidden;
    }
  }

  &__img-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 12px;
    border-bottom: 1px solid $border-color;

    @media (min-width: $screen-xxl) {
      justify-content: initial;
      padding-left: 24px;
      padding-right: 24px;
    }
  }

  &__img-main {
    width: 120px;
    height: 120px;
    margin-bottom: 20px;

    @media (min-width: $screen-xxl) {
      width: 192px;
      height: 192px;
    }
  }

  &__img-speed {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 12px;
    left: 12px;
    right: 12px;
    //width: 100%;
    //height: 52px;

    @media (min-width: $screen-xxl) {
      flex-direction: column;
      top: 12px;
      right: 24px;
      left: unset;
      max-width: 62px;
    }

    &--back {
      position: static;
      justify-content: space-evenly;
      padding: 12px 12px 12px;
      border-bottom: 1px solid $border-color;

      @media (min-width: $screen-xxl) {
        flex-direction: row;
        max-width: none;
        padding: 12px 24px 16px;
      }

      #{$block-name}__speed {
        align-items: center;
      }
    }
  }

  &__speed {
    display: flex;
    flex-direction: column;

    @media (min-width: $screen-xxl) {
      align-items: center;
    }

    &--ua {
      align-items: flex-end;
    }
  }

  &__speed-caption {
    display: block;
    font-size: $font-size-xs;
    font-weight: 700;
    margin-top: 5px;

    @media (min-width: $screen-xxl) {
      text-align: center;
    }
  }

  &__option {
    padding: 12px;
    font-size: $font-size-sm;
    background-color: $body-bg;

    @media (min-width: $screen-xxl) {
      padding-left: 24px;
      padding-right: 24px;
    }

    &--ip {
      background-color: $white;
    }

    &--table {
      background-color: $white;
      //border-bottom: 1px solid $border-color;

      table {
        font-size: 14px;
        width: 100%;
        border-collapse: collapse;

        tr:last-child {

          td {
            padding-top: 6px;
          }
        }

        td {

          &:last-child {
            font-weight: 500;
            text-align: right;
          }
        }
      }
    }
  }

  &__option-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & + & {
      margin-top: 8px;
    }

    &::after {
      flex: 0 0;
      flex-basis: 20px;
      content: "";
      width: 20px;
      height: 20px;
      margin-left: 12px;
      background-repeat: no-repeat;
      background-position: center;
    }

    &--empty {

      &::after {
        background-size: 14px 3px;
        background-image: svg-load('../blocks/sprite-svg/svg/dash.svg', fill=$text-muted);
      }
    }

    &--available {

      &::after {
        background-size: 17px 17px;
        background-image: svg-load('../blocks/sprite-svg/svg/check-round.svg', fill=$main-color);
      }
    }
  }

  &__tv-options {
    background-color: $body-bg;
  }

  &__tv-title {
    display: flex;
    align-items: center;
    padding: 12px;

    @media (min-width: $screen-xxl) {
      padding-left: 24px;
      padding-right: 24px;
    }

    img {
      width: 32px;
      height: 31px;
    }

    span {
      margin-left: 12px;
      font-size: 14px;
      font-weight: 500;

      @media (min-width: $screen-xxl) {
        font-size: 16px;
      }
    }
  }

  &__order {
    background-color: $white;

    fieldset {
      padding: 0;
      margin: 0;
      border: none;
    }
  }

  &__connect-options {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 12px;

    @media (min-width: $screen-xxl) {
      padding-left: 24px;
      padding-right: 24px;
    }
  }

  &__options-text {
    flex: 1 1;
    flex-basis: 100%;
    width: 100%;
    margin-bottom: 8px;
    font-size: 12px;

    @media (min-width: $screen-xxl) {
      flex: 0 1;
      flex-basis: auto;
      width: auto;
      margin-bottom: 0;
      margin-right: 8px;
    }
  }

  &__input-wrapper {
    flex: 1 0;
    flex-basis: auto;
    display: flex;
    align-items: center;

    & + & {
      margin-left: 8px;
    }

    &:last-child {
      flex: 1 1;
      flex-basis: 22px;
      max-width: 22px;
    }
  }

  &__input {

    &:checked + label {
      color: $white;
      background-color: $main-color;

      &#{$block-name}__btn--vip {
        color: $white;
        background-color: $color-warning;
        border-color: $color-warning;
      }
    }

    &:focus + label {
      @include field-focus;
    }
  }

  &__btn {
    display: inline-block;
    vertical-align: baseline;
    padding: 5px 5px 3px;
    width: 100%;
    font-size: $font-size-xs;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    letter-spacing: 1px;
    color: $main-color;
    border: 1px solid $main-color;
    border-radius: $border-radius-sm;
    user-select: none;
    cursor: pointer;

    &:hover {
      color: $white;
      background-color: $main-color;
    }

    &--vip {
      color: $color-warning;
      border-color: currentColor;

      @media (min-width: $screen-xxl) {
        max-width: 50px;
        margin-left: auto;
      }

      &:hover {
        color: $white;
        background-color: $color-warning;
        border-color: $color-warning;
      }
    }

    &--info {
      display: inline-flex;
      align-items: center;
      width: 22px;
      height: 22px;
      padding: 0;
      border: none;
      background-color: $white !important;

      &:hover,
      &:focus {
        color: $text-color;
      }
    }
  }

  &__price-wrapper {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 12px 12px 0;
    border-top: 1px solid $border-color;

    @media (min-width: $screen-xxl) {
      padding-left: 24px;
      padding-right: 24px;
    }

    &--short {
      align-items: flex-start;
    }
  }

  &__price-num {
    flex: 0 0;
    flex-basis: auto;
    font-size: 36px;
    font-weight: 700;

    &--short {
      font-size: 42px;
      line-height: 1.2;
    }
  }

  &__price-inner {
    display: inline-flex;
    flex-direction: column;
    flex: 1 1;
    flex-basis: auto;
    margin-left: 10px;
  }

  &__add-price {
    font-size: 13px;
  }

  &__period {
    font-size: 16px;
    font-weight: 500;

    &--short {
      font-size: 18px;
    }
  }

  &__old-price {
    text-decoration: line-through;
    color: $text-muted;

    &:empty {
      display: none;
    }
  }

  &__ctrls-group {
    padding: 12px;

    @media (min-width: $screen-xxl) {
      padding: 12px 24px 24px;
    }
  }

  &__ctrls {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .btn {

      &[type=button] {
        flex: 1 1;
        flex-basis: auto;
      }

      &.btn--textless {
        flex: 0 0;
        flex-basis: auto;
        margin-left: 16px;
      }
    }
  }

  &__connect-descr {
    padding: 12px;

    @media (min-width: $screen-xxl) {
      padding: 16px 24px;
    }
  }

  &__descr-title {
    margin-top: 0;
    padding-bottom: 12px;
    border-bottom: 1px solid $border-color;
  }

  &__descr-item {

    & + & {
      border-top: 1px solid $border-color;
      padding-top: 12px;
      margin-top: 12px;
      line-height: 1.4;
    }

    p:first-child {
      margin-bottom: 8px;
      font-size: 14px;
    }

    p:last-child {
      margin-top: 8px;
      font-size: 16px;
      font-weight: 500;
    }
  }

  &__descr-btn {
    padding: 0 12px 12px;
    margin-top: auto;

    @media (min-width: $screen-xxl) {
      padding: 0 24px 24px;
    }
  }
}
